body{
	background: #f5f5f5;
}
.content-list{
	background: #fff;
	margin-top: .26rem;
	font-size: .32rem;
	color: #666666;
}
.content-list li{
	padding: .27rem .30rem;
	border-bottom: 1px solid #e0e0e0;
}
.icon-right {
    width: .32rem;
    height: .32rem;
    display: block;
    background: url(../img/right_icon.png) no-repeat;
    background-size: contain;
}
/*图标*/
.icon-box .icon{
	width: .50rem;
    height: .50rem;
    display: inline-block;
    float: left;
    margin-right: .28rem;
}
.icon-box .icon_zuji{
	background: url(../img/weizhouzuji.png) no-repeat;
    background-size: contain;
}
.icon-box .icon_gr{
	background: url(../img/gerenxix.png) no-repeat;
    background-size: contain;
}
.icon-box .icon_about{
	background: url(../img/guanyuwomen.png) no-repeat;
    background-size: contain;
}
.icon-box .icon_gz{
	background: url(../img/wodeguanzhu.png) no-repeat;
    background-size: contain;
}
.icon-box .icon_fz{
	background: url(../img/wodefankui.png) no-repeat;
    background-size: contain;
}
.icon-box .icon_bx{
	background: url(../img/wodebaoxiu.png) no-repeat;
    background-size: contain;
}