.container{
	
}
.container ul li{
	padding: .38rem .30rem;
	border-bottom: 1px solid #e0e0e0;
}
.title{
	font-size: .38rem;
	color: #333;
}
.title span{
	display: inline-block;
	width: .72rem;
	height: .72rem;
	text-align: center;
	line-height: .72rem;
	background: #ffb200;
	font-size: .40rem;
	color: #fff;
	margin-right: .22rem;
}
.img-list{
	width: 100%;
	margin-top: .30rem;
}
.text{
	margin-top: .30rem;
	font-size: .28rem;
	color: #999999;
}
.text span{
	color: #ffb200;
}
