nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fefefe;
	z-index: 999;
	color: #999999;
	border-bottom: 1px solid #e0e0e0;
}
nav a{
	display: block;
	padding-top: .36rem;
	padding-bottom: .36rem;
}
nav a.select{
	color: #47616e;
    border-bottom: 2px solid #47616E;
}
nav ul{
	display: flex;
}
nav ul li{
	flex: 1;
	text-align: center;
	/* position: relative; */
}
.icon_price{
	position: absolute;
    top: .42rem;
    right: 0.7rem;
    display: inline-block;
    width: .16rem;
    height: .28rem;
}
.icon_price_normal{
	background: url(../img/jiageshaixuan@2x.png) no-repeat;
    background-size: contain;
}
.icon_price_select{
	background: url(../img/jiageshaixuan1@2x.png) no-repeat;
	background-size: contain;
}
.other .other-content{
	display: none;
	position: absolute;
    left: 0;
    right: 0;
    background: #f7f7f7;
    padding: .4rem;
   /*  bottom: -1.41rem; */
    border-bottom: 1px solid #e0e0e0;
}
.other-content button {
    display: block;
    padding: .12rem .36rem;
    float: left;
    border: 1px solid #999999;
    border-radius: 4px;
    color: #666666;
    margin-right: .3rem;
}
.other-content button.selected{
	border: 1px solid #ad8a54;
	color: #ad8a54;
}
.box{
	height:1.11rem;
}
