/*.container ul{
	display: flex;
	flex-wrap: wrap;
}
.container ul li{
	flex: 0 0 33.3333%;
	padding:0 4px 4px 0;
	
}*/
.container ul{
	overflow: hidden;/*清除浮动*/
}
.container ul li{
	width:33.3333% ;
	float: left;
	padding:0 .04rem .04rem 0;
	
}
