body{background: #f5f5f5;}
/*text-box*/
.text-box{
	background: #fff;
	color: #333;
	font-size: .14rem;
	padding: .30rem;
	line-height: .4rem;
	margin-top: .18rem;
}
.text-box h3{
	font-size: .32rem;
}
.text-box .time{
	font-size: .12rem;
}
.txt{
	margin-top: .60rem;
    line-height: .4rem;
}
.txt img{
	margin: .30rem 0;
}
/*list-box*/
.list-box{
	background-color: #fff;
    margin-top: .18rem;
}
.border{
	height: .60rem;
    width: 100%;
    border: 1px solid #e0e0e0;
    position: relative;
    margin-bottom: .10rem;
}
.border span{
	position: absolute;
    width: 1.62rem;
    left: 50%;
    font-size: .24rem;
    color: #666666;
    transform: translateX(-50%);
    text-align: center;
    bottom: -.13rem;
    background-color: #fff;
}
.list-box ul li{
	padding: .25rem .30rem;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.list-left{
	float: left;
	width: 4.30rem;
}
.list-left p{
	font-size: .30rem;
	color: #454553;
}
.left-box{
	margin-top: .30rem;
}
.icon{
	float: left;
	margin-right: .38rem;
}
.icon img{
	float: left;
	margin-right: .18rem;
	}
.icon1 img{
	width: .26rem;
}
.icon2 img{
	width: .28rem;
}
.icon span{
	font-size: .22rem;
	color: #666666;
	float: left;
}
.icon1 span.color_select{color: #ffb200;}
.list-right{
	float: right;
	width: 2.34rem;
	height: 1.40rem;
}

.pinl-box{
	background: #fff;
	margin-top: .18rem;
}
.title-box{
	height: 1.06rem;
	line-height: 1.06rem;
	padding: 0 .30rem;
	border: 1px solid #e0e0e0;
	overflow: hidden;
}
.title-box h3{
	font-size: .32rem;
	color: #454553;
	float: left;
}
.title-box span{
	color: #9f9f9f;
	float: right;
	font-size: .44rem;
    font-family: -webkit-body;
}
.pinl-list li .li-con{
	padding: .30rem 0;
	margin: 0 .30rem;
	border-bottom: 1px solid #e0e0e0;
}
.pinl-img{
	width: .80rem;
	float: left;
}
.pinl-text{
	float: left;
	margin-left: .26rem;
}
.pinl-text p:first-child{
	font-size: .30rem;
	color: #333333;
}
.pinl-text p:last-child{
	font-size: .24rem;
	color: #666666;
}
.list-bottom{
	font-size: .15rem;
	color: #333333;
	margin-top: .20rem;
}
/*pinl-fixed*/
.pinl-fixed{
	width: 100%;
    padding: .08rem .30rem;
    border: 1px solid #333;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}
.input{
	width: 6.04rem;
	height: .56rem;
	border-radius: 4px;
	float: left;
	overflow: hidden;
}
.input input{
	width: 100%;
	height: 100%;
	font-size: .26rem;
	background: #f5f5f5;
	text-indent: .15rem;
}
.fixed-img{
	float: right;
}
.fixed-img img{
	width: .26rem;
	text-align: center;
	margin: 0 auto;
}
.fixed-img p{
	font-size: .22rem;
	color: #666666;
}
