.login-container {
    border-bottom: thin solid rgb(247, 249, 250);
    height: 46px;
    line-height: 35px;
    font-size: 13px;
    color: #444;
    margin: auto;
    background: rgb(247, 249, 250);
}

.login-text {
    padding-right: 16px;
}

.login-line {
    width: 1px;
    height: 15px;
    background: #cdcdcd;
    position: relative;
    top: 10px;
    margin-right: 15px;
}

.nav-container {
    height: 114px;
    line-height: 114px;
    font-size: 15px;
    color: #444;
    margin: auto;
    border-bottom: 1px solid #ebebeb;
}

.nav-logo {
	height:109px;
	cursor: pointer;
}
.nav-logo img{
	height:107px;
}
.col-md-2 {
    padding: 0;
    text-align: center;
}

.nav {
    height: 114px;
    line-height: 114px;
}

.nav-right > div {
    padding: 0;
}

.nav-link {
    display: block;
    padding: 0;
    color: #444;
    margin-right: 36px;
}

.nav-link.active {
    border-bottom: 3px solid rgb(243, 133, 15);
    color: rgb(243, 133, 15);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 1px;
}

a:active, a:focus {
    text-decoration: none !important;
}

.nav-link:active, .nav-link:focus {
    color: rgb(243, 133, 15);
    border-bottom: 3px solid rgb(243, 133, 15);
    text-decoration: none !important;
    outline: none;
}

.service-dropdown, .feature-dropdown {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 6em !important;
    border-radius: 0;
}

.service-item, .feature-item {
    padding: 0 12px;
    margin: 30px 0;
    height: 35px;
    line-height: 35px;
}

.nav-link:hover, .btn-group:hover {
    color: rgb(243, 133, 15);
    cursor: pointer;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

.advisory-detail {
    width: 1140px!important;
    margin: auto!important;
}

.advisory-left {
    max-width: 730px;
    margin-right: 46px;
}
.header-title{
    font-size: 36px;
    color: #333333;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
.header-date{
    font-size:20px;
    color: #999999;
    margin-bottom: 36px;
}
.advisory-content{
    font-size:20px;
    color: #333333;
}
.content-text{
    font-size: 20px;
    color: #333333;
    margin-bottom: 40px;
}
.content-img{
    width: 730px;
    height: 440px;
    margin-bottom: 40px;
}
.advisory-right {
    min-width: 364px;
}
.advisory-hot{
    font-size:20px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hot-advisory-item{
    margin-bottom: 20px!important;
}
.hot-advisory-item-left {
    min-width: 116px;
    margin-right: 16px;
}
.hot-advisory-item-right {
    max-width: 232px;
}
.news-small-img{
    width: 116px;
    height: 80px;
}
.news-right-one{
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.news-right-two{
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
}
.footer {
    width: 100%;
    height: 328px;
}