.my-body {
    background: #444;
}
 .order_list_empty {
		    display: none;
		    background-color: #ededed;
		    height: 400px;
		    line-height: 400px;
		    text-align: center;
		    font-size: 14px;
		}
.login-container {
    border-bottom: thin solid rgb(247, 249, 250);
    height: 46px;
    line-height: 35px;
    font-size: 13px;
    color: #444;
    margin: auto;
    background: rgb(247, 249, 250);
}

.login-text {
    padding-right: 16px;
}

.login-line {
    width: 1px;
    height: 15px;
    background: #cdcdcd;
    position: relative;
    top: 10px;
    margin-right: 15px;
}

.nav-container {
    height: 114px;
    line-height: 114px;
    font-size: 15px;
    color: #444;
    margin: auto;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
}

.nav-logo {
	height:109px;
	cursor: pointer;
}
.nav-logo img{
	height:107px;
}
.col-md-2 {
    padding: 0;
    text-align: center;
}

.nav {
    height: 114px;
    line-height: 114px;
}

.nav-right > div {
    padding: 0;
}

.nav-link {
    display: block;
    padding: 0;
    color: #444;
    margin-right: 36px;
}

.nav-link.active {
    border-bottom: 3px solid rgb(243, 133, 15);
    color: rgb(243, 133, 15);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 1px;
}

a:active, a:focus {
    text-decoration: none !important;
}

.nav-link:active, .nav-link:focus {
    color: rgb(243, 133, 15);
    border-bottom: 3px solid rgb(243, 133, 15);
    text-decoration: none !important;
    outline: none;
}

.service-dropdown, .feature-dropdown {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 6em !important;
    border-radius: 0;
}

.service-item, .feature-item {
    padding: 0 12px;
    margin: 30px 0;
    height: 35px;
    line-height: 35px;
}

.nav-link:hover, .btn-group:hover {
    color: rgb(243, 133, 15);
    cursor: pointer;
}

.row {
    margin: 0;
}

.order-body {
    background: #fafafa;
    margin-top: 20px;
    margin-right: 25px;
    min-height: 900px;
}

.my-order-content {
    width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.my-order-header {
    font-size: 18px;
    color: #333333;
    background: #fff;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
}

.my-order-header > *, .order-list > *, .list-content > *, .list-header > * {
    padding: 0;
}

.my-order-header > *.active {
    color: #fc9313;
}

.list-header {
    margin-bottom: 30px;
    background: #cdcdcd;
    padding-left: 30px;
    height: 56px;
    line-height: 56px;

}

.item-one {
    font-size: 14px;
    color: #666666;
    margin-right: 15px;
}

.header-one, .content-one {
    min-width: 437px;
    text-align: left;
}

.header-two, .content-two {
    min-width: 140px;
    text-align: left;
    padding: 0;
}

.header-three, .content-three {
    max-width: 160px;
    text-align: left;
}

.header-four, .content-four {
    text-align: left;
    max-width: 140px;
}

.header-five, .content-five {
    text-align: center;
    max-width: 165px;
}

.header-six, .content-six {
    text-align: center;
    max-width: 98px;
}

.content-four {
    font-size: 18px;
    color: #ff3700;
}

.order-detail {
    font-size: 18px;
    color: #fc9313;
}

.content-two, .content-three, .content-four {
    padding: 71px 0;
}
.bottom-line{
    border-bottom: 1px solid #ebebeb;
}
.bottom-line.last{
    border: none;
}

.content-five {
    padding: 54px 0;
}

.content-five > p, .content-six > p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0
}

.content-six {
    font-size: 18px;
    color: #999999;
    padding: 54px 0;

}

.list-content {
    padding: 30px 30px 19px 30px;
    background: #fff;
    height: 218px;
}

.row-one {
    margin-bottom: 40px;
    max-width: 380px;
}

.row-two {
    font-size: 18px;
    color: #333333;
    margin-bottom: 14px;
    max-width: 380px;
}

.row-three {
    color: #999999;
    font-size: 14px;
    max-width: 380px;
}
.go-pay{
    color: #fc9313;
}
.body-footer{
    height: 200px;
    width:100%;
    background: #444;
}