.login-container {
    border-bottom: thin solid rgb(247,249,250);
    height: 46px;
    line-height: 35px;
    font-size: 13px!important;
    color: #444;
    margin: auto;
    background: rgb(247,249,250);
}
.login-text{
    padding-right: 16px;
}
.login-line{
    width: 1px;
    height: 15px;
    background: #cdcdcd;
    position: relative;
    top: 10px;
    margin-right: 15px;
}
.nav-container {
    height: 114px;
    line-height: 114px;
    font-size: 15px!important;
    color: #444;
    margin: auto;
    border-bottom: 1px solid #ebebeb;
}
.nav-logo {
	height:109px;
	cursor: pointer;
}
.nav-logo img{
	height:107px;
}
.col-md-2 {
    padding: 0;
    text-align: center;
}

.nav {
    height: 114px;
    line-height: 114px;
}
.nav-right > div{
    padding: 0;
}
.nav-link {
    display: block;
    padding: 0;
    color: #444;
    margin-right: 36px;
}
.nav-link.active {
    border-bottom: 3px solid rgb(243, 133, 15);
    color: rgb(243, 133, 15);
    font-size: 15px!important;
    text-align: center;
    position: relative;
    top: 1px;
}
a:active,a:focus{
    text-decoration: none !important;
}
.nav-link:active,.nav-link:focus{
    color: rgb(243, 133, 15);
    border-bottom: 3px solid rgb(243, 133, 15);
    text-decoration: none !important;
    outline: none;
}
.service-dropdown,.feature-dropdown{
    padding: 0 !important;
    margin: 0 !important;
    min-width: 6em !important;
    border-radius: 0;
}
.service-item,.feature-item{
    padding: 0 12px;
    margin: 30px 0;
    height: 35px;
    line-height: 35px;
}
.nav-link:hover ,.btn-group:hover{
    color: rgb(243, 133, 15);
    cursor: pointer;
}
.service-nav {
    height: 50px;
    line-height: 50px;
    border-bottom: thin solid #cdcdcd;
    width: inherit;
    margin: auto;
}

.service-nav-right > div {
    padding: 0;
    font-size: 14px!important;
}

.service-nav-right .active, .service-color-text {
    color: rgb(243, 133, 15);
    font-size: 14px!important;
}

.service-text {
    font-size: 14px!important;
}
.row{
    margin: 0;
}
.col{
    padding: 0;
}
/*.real-time-info{*/
    /*width: 1200px;*/
    /*margin: auto;*/
/*}*/
.info-content ,.info-three{
    width: 1140px;
    margin: auto!important;
}
.info-one,.info-three{
    height: 766px;
    padding-top: 80px!important;
}
.spot-header {
    text-align: center;
    margin-bottom: 72px!important;
    height: 60px;
    line-height: 60px;
}
.spot-line{
    width: 30px;
    height: 1px;
    background: #cdcdcd;
    display: inline-block;
    position: relative;
    top: -7px;
}
.spot-header-text{
    font-size: 25px!important;
    color: #4c4c4c;
}
.col-item{
   max-width: 360px;
    margin-right: 30px!important;

}
.col-item:last-child{
    margin-right: 0!important;
}
.real-img{
    width: 360px;
    height: 242px;

}
.title-one{
    padding-top: 24px!important;
    margin-bottom: 28px!important;
    font-size: 16px!important;
    color: #fc9313;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title-two{
    margin-bottom: 28px!important;
    font-size: 12px!important;
    color: #333333;

}
.title-three{
    color: #fc9313;
}
.row-item {
    height: 70px;
    margin-bottom: 30px!important;
}
.little-img{
    width: 102px;
    height: 70px;
}
.little-one{
    font-size: 16px!important;
    color: #fc9313;
    margin-bottom: 8px!important;
}
.little-two{
    font-size: 14px!important;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.info-two{
    width: 100%;
    height: 664px;
    background-color: #ebebeb;
    padding-top: 94px;
}
.info-two-child {
    width: 1140px;
    margin: auto!important;
}
.info-one-item{
    text-align: left;
    margin-right: 30px!important;
    max-width: 556px;
}
.info-two-item{

    min-width: 554px;

}
.info-two-img{
    width: 556px;
    height:330px;
}
.info-title-one{
    padding-top: 38px!important;
    margin-bottom: 28px!important;
    color: #fc9313;
    font-size: 18px!important;
}
.info-title-two{
    font-size: 18px!important;
    color: #666666;
    margin-bottom: 16px!important;
}
.info-title-three{
    font-size: 12px!important;
    color: #333333;
}
.info-little-img{
    width: 96px;
    height: 92px;
}
.info-little-one{
    font-size: 12px!important;
    color: #fc9313;
    margin-bottom: 11px!important;
}
.info-little-two{
    font-size: 10px!important;
    color: #666666;
    margin-bottom: 12px!important;

}
.info-little-three{
    font-size: 12px!important;
    color: #333333;
}
.info-row-item{
    height: 92px;
    margin-bottom: 38px!important;
}
.real-col-item-one{
    max-width: 96px;
    margin-right: 20px;
}
.real-col-item-two{
    min-width: 438px;
}
.body-footer{
    height: 200px;
    width:100%;
    background: #444;
}