.login-container {
    border-bottom: thin solid rgb(247,249,250);
    height: 46px;
    line-height: 35px;
    font-size: 13px;
    color: #444;
    margin: auto;
    background: rgb(247,249,250);
}
.login-text{
    padding-right: 16px;
}
.login-line{
    width: 1px;
    height: 15px;
    background: #cdcdcd;
    position: relative;
    top: 10px;
    margin-right: 15px;
}
.nav-container {
    height: 114px;
    line-height: 114px;
    font-size: 15px;
    color: #444;
    margin: auto;
    border-bottom: 1px solid #ebebeb;
}
.nav-logo {
	height:109px;
	cursor: pointer;
}
.nav-logo img{
	height:107px;
}
.col-md-2 {
    padding: 0;
    text-align: center;
}

.nav {
    height: 114px;
    line-height: 114px;
}
.nav-right > div{
    padding: 0;
}
.nav-link {
    display: block;
    padding: 0;
    color: #444;
    margin-right: 36px;
}
.nav-link.active {
    border-bottom: 3px solid rgb(243, 133, 15);
    color: rgb(243, 133, 15);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 1px;
}
a:active,a:focus{
    text-decoration: none !important;
}
.nav-link:active,.nav-link:focus{
    color: rgb(243, 133, 15);
    border-bottom: 3px solid rgb(243, 133, 15);
    text-decoration: none !important;
    outline: none;
}
.service-dropdown,.feature-dropdown{
    padding: 0 !important;
    margin: 0 !important;
    min-width: 6em !important;
    border-radius: 0;
}
.service-item,.feature-item{
    padding: 0 12px;
    margin: 30px 0;
    height: 35px;
    line-height: 35px;
}
.nav-link:hover ,.btn-group:hover{
    color: rgb(243, 133, 15);
    cursor: pointer;
}
.service-nav {
    height: 50px;
    line-height: 50px;
    border-bottom: thin solid #cdcdcd;
    width: inherit;
    margin: auto;
}

.service-nav-right > div {
    padding: 0;
    font-size: 14px;
}

.service-nav-right .active, .service-color-text {
    color: rgb(243, 133, 15);
    font-size: 14px;
}

.service-text {
    font-size: 14px;
}
.row{
    margin: 0;
}
.sure-header {
    height: 45px;
    line-height: 45px;
    margin: 18px auto 46px auto;

}
.my-order{
    color: #fc9313;
    font-size: 16px;
}
.order-text{
    font-size: 16px;
    color: #666666;
}
.travel-strategy-content{
    width: 1200px;
    margin: auto;
}
.travel-strategy-left,.travel-strategy-right{
    padding: 0;
}
.left-header ,.right-header{
    margin-bottom: 50px;
}
.item-left{
    max-width: 276px;
    margin-right: 26px;
    padding: 0;
}
.item-left img{
    width: 276px;
    height: 174px;
}
.item-right{
    padding: 0;
}
.right-one{
    font-size: 16px;
    margin-bottom: 20px;
    color: #fc9313;

    text-align: left;
}
.right-two{
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
    text-align: left;
}
.right-three{
    font-size: 15px;
    color: #666666;
    margin-bottom: 26px;
    text-align: left;
}
.eye-span{
    margin-right: 26px;
    font-size: 15px;
    color: #666666;
}
.eye-img{
    width: 30px;
    height: 15px;
}
.messgae-img{
    width: 20px;
    height: 15px;
}
.travel-strategy-left{
    min-width: 810px;
    margin-right: 74px;
}
.travel-strategy-right{
    max-width: 315px;
}
.strategy-item{
    margin-bottom: 30px!important;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.hot-recommend-list {
    padding-bottom: 30px;
    margin-bottom: 48px;
}
.hot-recommend-image img{
    width: 315px;
    height: 200px;
}
.hot-recommend-content {
    width: 332px;
    background: #fafafa;
    /* padding: 0 26px; */
    padding-top: 24px;
    padding-left: 8px;
    border-bottom: 1px solid #ebebeb;
}
.recommend-one {
    margin: 14px 0 18px 0;
}
.recommend-two{
    margin-bottom: 20px;
}
.recommend-three {
    margin-bottom: 30px;
}
.list-info-amount {
    font-size: 18px;
    color: #ff3700;
}
.amount-text {
    font-size: 12px;
    color: #ff3700;
}
.title-one{
    font-size: 18px;
    color: #fc9313;
}
.title-two{
    font-size: 15px;
    color: #666666;
}
.title-three{
    font-size: 15px;
    color: #666666;
}
.item-img{
    margin-bottom: 30px;
}
.item-img > .col-md-3{
    padding: 0;
    min-width: 244px;
    margin-right: 26px;
}
.img-one,.img-two,.img-three{
    width: 244px;
    height: 150px;
}

.footer-pagination{
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

}
.prev,.next{
    position: relative;
    float: left;
    padding: 0 15px;
    color: #949494;
    text-decoration: none;
    border: 1px solid #ebebeb;
    background: #fafafa;
    border-radius: 5px;
    font-size: 13px;
    height: 34px;
    width: 72px;
    line-height: 34px;
    margin-right: 12px;
}
.last{
    position: relative;
    float: left;
    padding: 0 13px;
    color: #949494;
    text-decoration: none;
    border: 1px solid #ebebeb;
    background: #fafafa;
    border-radius: 5px;
    font-size: 13px;
    height: 34px;
    width: 56px;
    line-height: 34px;
    margin:0 5px;
}
.prev:hover,.prev:active,.prev:focus,.next:hover,.next:active,.next:focus{
    text-decoration: none;
    color: #333;

}
.page{
    position: relative;
    float: left;
    padding: 0 13px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    margin-right: 26px;
}
.page:hover{
    text-decoration: none;
    color: #333;

}
.page.active{
    outline: none;
    background: #fc9313;
    border-radius: 5px;
    color: #fff!important;

}
.page:focus{
    outline: none;
    background: #fc9313;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.route-footer-content {
    height: 100px;
}
.footer{
    width: 100%;
    height: 328px;
}
