.wrap{
	position:relative;
	height: 100vh;  /*让高度满屏*/
}
/*导航*/
.nav {
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.nav li{	
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #E9E9EB;
}
/*导航*/

/*内容*/
.content{
	height: 100%;
	overflow: auto;
	background: #fff;
	margin-left: 86px;
	text-align: center;
}
.content ul{
	display: flex;
	flex-wrap: wrap;
}
.content ul li{
	flex: 0 0 33.3333%;
	padding:15px 10px 0;
	box-sizing: border-box;
}
/*内容*/