 body{	
	background: url(../img/bg.png) 0 0/100%;
}
.logo{
	width: 25%;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,0);
}
.box{
	padding: 70px 0 0;
}
.wrap{
	width: 94%;
	margin: 150px auto 0;
}
.inpt{
	width: 100%;
	margin-top:30px;
	padding-bottom:10px ;
	border-bottom: 1px solid #545359;
}
.inpt input{
	background: none;
	color: #fff;
	font-size: 14px;
	text-indent: 10px;
	outline: none;
}
.code{
	float: right;
	color: #7E8186;
	padding-left:10px ;
	border-left:1px solid #5B595C ;
}
.icon{	
	display: inline-block;
	vertical-align: middle;
	
}
.icon1{
	width: 20px;
	height: 20px;	
	float: right;	
	background: url(../img/eye_hide_reg.png)0 0/100% 100%;
}
.icon2{
	width: 20px;
	height: 20px;	
	float: right;	
	background: url(../img/eye_unhide.png)0 0/100% 100%;
}
.ic{
	width: 14px;
	height: 14px;
	margin-right: 5px;
}
.ic1{	
	background: url(../img/cart_icon_unselect.png) 0 0/100% 100%;
}
.ic2{
	background: url(../img/cart_select_icon.png) 0 0/100% 100%;
}
.btn{
	width: 100%;
    margin: 50px 0 15px;
    padding: 10px 0;
    background: #A89352;
    border-radius: 4px;
    color: #fff;
}
.smtxt{
	color:#7E8186 ;
}
.txtn {
    width: 100%;
}
@media (max-device-width:320px) and (-webkit-min-device-pixel-ratio:2) {
	.wrap {
	    margin: 150px auto 0;
	}
	.btn{
		margin: 60px 0 15px;
	}
}