
.wrap{
	width: 94%;
	margin: 100px auto 0;
}
.inpt{
	width: 100%;
	margin-top:30px;
	padding-bottom:10px ;
	border-bottom: 1px solid #F2F2F2;
}
.inpt input{
	background: none;
	font-size: 14px;
	text-indent: 10px;
	outline: none;
}
.code{
	float: right;
	color: #7E8186;
	padding-left:10px ;
	border-left:1px solid #5B595C ;
}

